extends ../../admin
block content
  p
    button#add.btn.btn-primary
      i.icon-plus
      | 新增菜单
  .table-responsive
    table.table.table-bordered
      thead
        tr
          th.center(style="width:8%;") 展开/收起
          th 菜单名称
          th 菜单图标
          //th 上级菜单
          th 是否末级
          th 菜单地址
          th 菜单类型
          th 层级
          th 操作
      tbody
        each menu, index in menus
          tr(data-target="[data-id='submenu-#{index}']")
            td.center(style="width:8%;")
              i.toggle-menu.icon-plus(data-target="[data-id='submenu-#{index}']", style="cursor:pointer;")
            td #{menu.text}
            td
              i(class="#{menu.icon}")
            //td #{menu.fahterId}
            td #{menu.isLeaf ? "是" : "否"}
            td #{menu.href}
            td #{menu.type == 0 ? "后台菜单" : (menu.type == 1 ? "逻辑菜单" : "两者都是")}
            td #{menu.level}
            td
              .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
                a.green.edit(data-id="#{menu._id}", href="javascript:;")
                  i.icon-edit.bigger-130
                a.red.del(data-id="#{menu._id}", href="javascript:;")
                  i.icon-trash.bigger-130
          each submenu in menu.submenu
            tr.hidden(data-id="submenu-#{index}").bg-gray
              td.center(style="width:8%;")
              td
                span.text-danger ┗
                | #{submenu.text}
              td
                i(class="#{submenu.icon}")
              //td #{submenu.fahterId}
              td #{submenu.isLeaf ? "是" : "否"}
              td #{submenu.href}
              td #{submenu.type == 0 ? "后台菜单" : (submenu.type == 1 ? "逻辑菜单" : "两者都是")}
              td #{submenu.level}
              td
                .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
                  a.green.edit(data-id="#{submenu._id}", href="javascript:;")
                    i.icon-edit.bigger-130
                  a.red.del(data-id="#{submenu._id}", href="javascript:;")
                    i.icon-trash.bigger-130

  script(src="/javascripts/menu/list.js")
  style.
    .bg-gray{
      background-color: #f4f4f4;
    }
    th, td{
      width: 13.142%;
    }
